/* Ensure the main container takes the full height of the viewport */
.admin-main {
    position: relative;
    width: 100%;
    overflow: hidden;

  }
  .admin-main:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(./images/bg_image-cube.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    }
    
  
  /* Style the video to cover the entire background */
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the background without distortion */
    z-index: -1; /* Ensures the video stays behind all other content */
  }
  
  /* Style adjustments for other elements to ensure proper layering */
  .admin-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .admin-title h1 {
    font-size: 2vw;
    color: black;
    padding: 0.5vw;
    font-weight: 600;
    border-bottom: 1px solid orange;
  }
  
  .admin-title img {
    height: 5vw;
    width: 5vw;
  }
  
  .admin-sub-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1vw;
  }
  
  .admin-left {
    display: flex;
    flex-direction: column;
    margin: 0vw 0.5vw;
    width: 70%;
  }
  
  .admin-left .row-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .admin-left .row-1 img {
    height: 25vw;
    width: 25vw;
  }
  
  .admin-left .row-1 .row-1-cols {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .admin-left .row-1 .row-1-cols .indicator-name {
    background-color: #ef7401;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
  }
  
  .admin-left .row-1 .row-1-cols .indicator-name h1 {
    color: white;
    padding-top: 1vw;
    font-size: 2.5vw;
    cursor: pointer;
    height: 80%;
  }
  
  .admin-left .row-1 .row-1-cols .indicator-name p {
    color: white;
    font-size: 0.7vw;
    text-align: center;
    border-top: 2px solid white;
    border-radius: 0 0 0 20px;
  }
  
  .indicator {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #ef7401;
    margin: 0.5vw;
    height: 6.9vw;
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent white */
    border-radius: 20px 0px 0px 20px;
  }
  
  .content {
    padding: 0.4vw;
    position: relative;
    width: 15vw;
    height: 8vw;
    
  }
  
  .admin-left .row-1 .row-1-cols .indicator .content .content-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1vw;
  }
  
  .content-text h1 {
    margin: 0.2vw;
    font-size: 0.8vw;
    color: #ef7401;
    text-align: left;
  }
  .content-text .recommendation ul li{
    font-size: 0.8vw;
  }
  .content-text .score h1 {
    font-size: 0.7vw;
    color: white;
  }

  .admin-left .row-1 .row-1-cols .indicator .content .content-text .score {
    position: absolute;
    top: 1;
    right: 0;
    background-color: #ef7401;
    text-align: center;
    border-radius: 0 0 0 100%;
  }
  
  .admin-left .row-1 .row-1-cols .indicator .content .content-text .score img {
    height: 3vw;
    width: 4vw;
    margin: 0.5vw;
  }
  
  .admin-left .row-1 .row-1-cols .indicator .content .content-text .score p {
    font-size: 1vw;
    color: black;
  }
  
  .admin-right {
    display: flex;
    align-items: center;
    width: 35%;
    flex-direction: column;
  }
  
  .admin-right .admin-total-score {
    z-index: 1;
    cursor: pointer;
    width: 90%;
    height: 10vw;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ef7401;
  }
  
  
  .admin-right .admin-total-score .Summary {
    margin: 1vw;
  }
  
  .admin-right .admin-total-score h1 {
    font-size: 1vw;
    color: #ef7401;
    height: 80%;
  }
  
  .admin-right .admin-total-score h2 {
    font-size: 0.8vw;
    color: black;
    font-weight: 700;
  }
  
  .admin-right .admin-total-score p {
    text-align: center;
    font-size: 0.5vw;
    height: 20%;
    color: black;
  }
  
  .admin-right .improvement {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent white */
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5vw 0.5vw;
    border: 1px solid #ef7401;
    padding: 0.5vw;
    border-radius: 10px;
  }
  
  .row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    background-color: rgba(255,255,255, 0.95); /* Semi-transparent white */
    margin: 1vw;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    width: 61vw;
    border: 1px solid #ef7401;
    border-radius: 10px;
  }
  
  .admin-right .improvement h1 {
    color: #ef7401;
    font-size: 1.5vw;
  }
  
  .admin-right .improvement ul li {
    font-size: 1vw;
    margin-left: 1vw;
  }
  
  .drop {
    margin: 1vw;
  }
  
  .admin-right .admin-total-score .Summary .letter {
    margin: 0.5vw;
    height: 2.5vw;
    width: 2.5vw;
  }
  
  .admin-right .admin-total-score .Summary .operator {
    height: 1vw;
    width: 1vw;
  }
  
  .admin-right .admin-total-score .Summary .esg {
    height: 5vw;
    width: 6vw;
  }
    
  
  .date-select{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0.5vw;
    font-size: 1vw;
    font-weight: 800;

  }
  
  /* Ensure the main container takes the full height of the viewport */
  .report {
    position: relative; /* Required to position the ::before element */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    overflow: hidden; /* Ensure the background doesn't overflow */
  }
  
  .report::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg_image-cube.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the background is behind the content */
  }
/* Style the parameter tabs */
.parameter-tabs {
  display: flex;
  justify-content: flex-start;
  margin: 0.5vw;
}

.parameter-tab {
  padding: 0.5vw 2vw;
  cursor: pointer;
  background-color:white; /* Green */
  color: black;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.parameter-tab:hover {
  background-color: white; /* Darker green */
}

.parameter-tab.active {
  color: white;
  font-weight: 700;
  background-color: #45a049; /* Darker green */
}

/* Style the report container */
.report-container {
  display: flex;
  align-items:flex-start;
  height: 100%;
  justify-content: space-around;
}

/* Style the map container */
.para-map {
  width: 35vw;
  height: 22vw;
}
.map-container{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}
.full-map-container{
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.full-map-container img{
  height: 22vw;
  width: 35vw;
}
/* Style the image slider container */
.image-slider {
  /* width: 60vw; */
  background-color: white;
  padding: 0.1vw;
  /* height: 32vw; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

/* Add any additional styling as needed */
.legend {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0.5vw; /* Adjust padding as needed */
  /* background: rgb(196, 91, 91); */
  font-size: 0.8vw; /* Adjust font size as needed */
  width: 100%;
  margin: 1vw;
}

.legend h3 {
  margin: 0;
  font-size: 0.8vw; /* Adjust font size as needed */
}

.legend div {
  display: flex;
  align-items: center;
}

.legend span {
  width: 1vw; /* Adjust width as needed */
  height: 1vw; /* Adjust height as needed */
  margin-right: 0.5vw; /* Adjust margin as needed */
  border: 0.1vw solid black; /* Adjust border thickness as needed */
}

  
  
  /* Admin.css */

/* Other styles */
.powerbi-link {
  position: fixed;
  top: 3.5vw;
  right: 20px;
  display: flex; 
  align-items: center;
  justify-content: center; /* Ensures all content is centered */
  flex-direction: row;
  background: #45a049;
   /* Semi-transparent background */
  padding: 0.5vw;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it appears above other elements */
}

.powerbi-link img {
  height: 1.5vw; /* Adjust size as needed */
  margin-right: 0.5vw; /* Adds spacing between the image and text */
}

.powerbi-link p {
  margin: 0; /* Reset margin */
  font-size: 0.8vw; /* Adjust size as needed */
  color:white;/* Make the text bold */
}

.powerbi-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
}
.esg-chart{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  width: 100%;
  height:23.7vw;
  margin: 0;
}
.esg-chart:hover{
  box-shadow: 0 0 12px -4px rgba(0,0,0,0.7);
}