.know-card {
	display: flex;
	align-items: center;
	flex-direction:row ;
	width: 22vw;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: 1px solid orangered;
	padding:1vw;
	margin: 0.5vw;
	background-color: white;
	border-radius: 10px;
  }
  
  .icon {
	margin-right: 1vw;
  }
  
  .icon img {
	width: 4vw; 
	border: 2px solid orangered; 
	padding: 0.5vw;/* Adjust the size as needed */
	border-radius: 50%;
  }
  
  .text-box {
	flex: 1;
  }
  
  .heading {
	font-size: 0.8vw;
	font-weight: bold;
  }
  
  .rating {
	font-size: 0.8vw;
	margin-bottom: 10px;
  }
  
  .source {
	font-size: 0.6vw;
	color: #666;
  }
  