/* Sidebar container */
.head-sidebar {
  position: fixed;
  width: 8%;
  height: 100%;
  padding: 0.9vw;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: width 0.3s ease-in-out;
}
.nav-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
/* Expanded sidebar width */
.head-sidebar.expanded {
  width: 20%;
}

/* Company logo styling */
.company-logo {
  height: 2.5vw;
  width: 6vw;
  margin: 1vw 0 3vw 0;
}

/* Navigation list */
.nav-ul {
  list-style: none;
  padding: 1vw;
  width: 100%;

}

/* Navigation section */
.nav-section {
  margin-bottom: 0.5vw;
  width: 100%;
}

/* Section heading */
.nav-section-header {
  font-weight: bold;
  font-size: 0.8vw;
  margin-bottom: 0.5vw;
  text-align: center;
  flex-direction: column;
  padding: 0.5vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #00A269;
}
.nav-section-header:hover{
  background-color: #A9F3E0;

}


/* Sub-item container */
.sub-items {
  margin-left: 1vw;

}

/* Icon and section icon */
.icon-section {
  font-size: 2vw;
  color: black;
  color: 
  #00A269
   ;
}

.city-active{
  background-color:#A9F3E0;
  color: 
  #00A269
   ;
   border-radius: 5px;
}
.icon-sub {
  font-size: 2vw;
  color: #00A269;
}

/* Link styling */
.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #00A269;
  text-decoration: none;
  font-size: 0.8vw;
  border-radius: 5px;
  font-weight: 600;
  margin: 2vw 1vw;
  padding: 0.5vw 0.5vw;

  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

/* Link hover effect */
.link:hover {
  background-color: #A9F3E0;
  color: #333;
}

/* Collapse arrow */
.collapse-arrow {
  width: 100%;
  text-align: right;
  margin-right: 0;
  font-size: 1.5vw;
  cursor: pointer;
 color: #00A269;
  border-radius: 5px;
}
/* Collapse arrow */
.collapse-arrow:hover{
  color: black;
}
.sidebar-divider {
  height: 100%;
  width: 5px;
  background-color: #ccc;

}
.second-nav{
  height: 100%;

  /* border-left: 2px solid rgb(224, 224, 224); */
}
.sub-active { /* Change to the color you prefer for active state */
  font-weight: bold; 
  color: #00A269;
  background-color: #A9F3E0;
}