.sticky{
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 20px -7px rgba(0,0,0,0.7);
    position: sticky;
  top: 0;
  z-index: 1;
  
  
}
.home-btn i {
  font-size: 1.5vw; /* Adjust the font size */
    color: #ef7401;
    padding: 0.5vw;
  margin-right: 1vw;
  border: 2px solid black;
  border-radius: 50%; /* Add some space between the icon and text */
}
/* Add hover effect on home button */
.home-btn:hover i {
  color: #fff; /* Change the color on hover */
  background-color: #ef7401; /* Change the background color on hover */
}

.nav-ul{
    height: 100%;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.sticky nav h1{
    color:#2d3748;
}

.sticky nav .avtar{
    cursor: pointer;
    margin-right: 8px;
}
.sticky nav .company-logo {
    cursor: pointer;
    height: 2rem;
    margin-left: 0.1rem;
    object-fit: contain;
  }
.sticky nav img {
    height: 50%;
  }
  
  
  @media only screen and (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  }