.know-container {
	display: flex;
	width: 99%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.know-container:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background-image: url(./images/bg_image-cube.png);
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.asset {
	display: flex;
	width: 95%;
	margin-top: 1vw;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.know-map {
	display: flex;
	width: 35vw;
	height: 14vw;
	z-index: 0;
	border: 2px solid #f07628;
}

.assetContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: antiquewhite;
}

.assetHeading {
	font-size: 2vw;
	text-align: center;
	font-weight: 600;
	display: flex;
	padding: 0.5vw;
	align-items: center;
}

.top-container {
	width: 95%;
	display: flex;
	padding: 1vw;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	border: 1px solid #f07628;
	border-radius: 10px;
}

.top-container-row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1vw;
}

.top-container-left {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.circle {
	display: flex;
	width: 98%; /* Adjusted width */
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
	display: flex;
	height: 14vw;
	justify-content: center;
	border: 1px solid #f07628;
	background-color: #ffffff;
}

.cityProgress {
	display: flex;
	flex-direction: column;
	justify-content:center; /* Added */
	align-items: center; 
	background-color:#f07628;
	border-radius: 10px;
}

.city-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	
}

.city-left .sub-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 29.1vw;
	height: 6vw;
	border-radius: 10px;
	padding: 1vw;
	border: 1px solid #f07628;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color:white;
	margin: 0.5vw;
}

.city-left .sub-left p {
	font-size: 0.8vw;
	font-weight: bold;
	margin-bottom: 0.5vw;
}

.list-container {
	display: flex;
}

.list-container ul {
	padding: 0;
	margin: 0 1vw;
}

.list-container ul li {
	font-size: 0.8vw;
	margin-bottom: 0.3vw;
}

.city-right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #f07628;
	flex-direction: row;
	border-radius: 10px;
}

.bar {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #f07628;
}

.barSubcontainers {
	display: flex;
	width: 50%;
	justify-content: space-evenly;
}

.barText {
	display: flex;
	width: 100%;
	font-weight: 600;
	font-size: 1vw;
	padding-bottom: 5px;
}

.circle-img {
	position: absolute;
	top: 35%;
	right: 31%;
	cursor: pointer;
}

.circle-img img {
	height: 1vw;
}

.hide {
	display: none;
}

.circle-img:hover .hide {
	display: block;
	position: absolute;
	top: 2.5vw;
	right: 28%;
	font-size: 0.8vw;
	background-color: white;
	border: 1px solid #f07628;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	padding: 0.5vw;
	width: 15vw;
}

.circle-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0.5vw 0.8vw;
	border-radius: 5px;
	background-color: #f07628;
	color: white;
	margin: 0.7vw;
}

.circle-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 0.9vw;
}

.iconContainer {
	display: flex;
	border-radius: 50%;
	position: relative;
	height: 2.5vw;
	width: 2.5vw;
	margin: 1vw;
	justify-content: center;
	align-items: center;
	border: 3px solid #f07628;
}

.circleIcon {
	height: 80%;
	width: 80%;
}

.circleKey {
	display: flex;
	font-weight: 800;
}

.marker {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	border-radius: 10px;
	justify-content: center;
	width: 100%;
	background-color: #f07628;
}

.marker-icon img {
	height: 3vw;
}

.markerContainer {
	display: flex;
	width: 24%;
	height: 5.5vw;
	justify-content: center;
	flex-direction: row;
	margin: 0.4vw;
	font-size: 1vw;
	align-items: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 5px;
	background-color: white;
}

.markerText {
	display: flex;
	color: #f07628;
	font-weight: 600;
	font-size: 0.8vw;
	margin-left: 1vw;
}

.markerValue {
	display: flex;
	padding: 0.4rem;
	color: #f07628;
	font: 600;
}
