.know-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
    padding: 1vw;
}

.know-container:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background-image: url(./images/bg_image-cube.png);
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.asset {
	display: flex;
	width: 100%;
	margin-top: 1vw;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.know-map {
	display: flex;
	width: 20vw;
	height: 14vw;
	z-index: 0;
	border: 1px solid #f07628;
}

.assetContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: antiquewhite;
}

.assetHeading {
	font-size: 2vw;
	text-align: center;
	font-weight: 600;
	display: flex;
	padding: 0.5vw;
	align-items: center;
}

.top-container {
	width: 100%;
	display: flex;
	padding: 0.5vw;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	border: 1px solid #f07628;
	border-radius: 10px;
}

.top-container-row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1vw;
    flex-direction: row;
}

.top-container-left {
	display: flex;
    width: 30%; 
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.circle {
	display: flex;
	/* Adjusted width */
	align-items: center;
	flex-wrap: wrap;
    padding: 0.5vw;
	border-radius: 10px;
	display: flex;
    flex-direction: flex-start;
	justify-content: center;
	border: 1px solid #f07628;
	background-color: #ffffff;
}

.cityProgress {
	display: flex;
	flex-direction: column;
	justify-content:center; /* Added */
	align-items: center; 
	/* background-color:#f07628; */
	border-radius: 10px;
    margin: 0vw 1vw;
    width: 60%;
}

.city-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	
}

.city-left .sub-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width:  22vw;
	height: 7vw;
	border-radius: 10px;
	padding: 1vw;
	border: 1px solid #f07628;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color:white;
	margin: 0.5vw;
}

.city-left .sub-left p {
	font-size: 0.8vw;
	font-weight: bold;
	margin-bottom: 0.5vw;
}

.list-container {
	display: flex;
}

.list-container ul {
	padding: 0;
	margin: 0 1vw;
}

.list-container ul li {
	font-size: 0.8vw;
	margin-bottom: 0.3vw;
}

.city-right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	border-radius: 10px;
}

.bar {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #f07628;
}

.barSubcontainers {
	display: flex;
	width: 50%;
	justify-content: space-evenly;
}

.barText {
	display: flex;
	width: 100%;
	font-weight: 600;
	font-size: 1vw;
	padding-bottom: 5px;
}

.circle-img {
	position: relative;
	top: 70%;
	left: 48%;
	cursor: pointer;
}
.know-right-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circle-img img {
	height: 1vw;
}

.hide {
	display: none;
}

.circle-img:hover .hide {
	display: block;
	position: relative;
	top: 2.5vw;
	left: 10%;
	font-size: 0.8vw;
	background-color: white;
	border: 1px solid #f07628;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	padding: 0.5vw;
	width: 15vw;
}
.swap{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	 /* Adjust height to accommodate the vertical animation */
	margin-top: 8vw;
	width: 20vw;
	background-color: #f07628;
}

  
  .swap img {
	position: absolute;
	width: 20vw;
	height: 13vw;
	border: 1px solid #f07628;
	transition: transform 0.5s ease-in-out;
  }
  
  @keyframes swapImages {
	0% {
	  transform: translate(0, 0);
	}
	33% {
	  transform: translate(0, 13vw);
	}
	66% {
	  transform: translate(0, 26vw);
	}
	100% {
	  transform: translate(0, 0);
	}
  }
  
  .swap img:nth-child(1) {
	animation: swapImages 9s infinite;
  }
  
  .swap img:nth-child(2) {
	animation: swapImages 9s infinite 3s;
  }
  
  .swap img:nth-child(3) {
	animation: swapImages 9s infinite 6s;
  }
  
  
.circle-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0.5vw 0.8vw;
	border-radius: 5px;
    width: 48%;
	color: #f07628;
	margin: 0.2vw;
    height: 6vw;
}

.circle-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 0.74vw;
}
@keyframes animate {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
.iconContainer {
	display: flex;
	border-radius: 50%;
	position: relative;
	height: 2.5vw;
	width: 2.5vw;
	margin: 1vw;
	justify-content: center;
	align-items: center;
	border: 3px solid #f07628;
}

.circleIcon {
	height: 80%;
	width: 80%;
}

.circleKey {
	display: flex;
	font-weight: 800;
}

.marker {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	border-radius: 10px;
	justify-content: center;
	width: 100%;
	border: 1px solid #f07628;
}

.marker-icon img {
	height: 3vw;
}

.markerContainer {
	display: flex;
	width: 24%;
	height: 5.5vw;
	justify-content: center;
	flex-direction: row;
	margin: 0.4vw;
	font-size: 1vw;
	border: 1px solid #f07628;
	align-items: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 5px;
	background-color: white;
}

.markerText {
	display: flex;
	color: #f07628;
	font-weight: 600;
	font-size: 0.8vw;
	margin-left: 1vw;
}

.markerValue {
	display: flex;
	padding: 0.4rem;
	color: #f07628;
	font: 600;
}
