.know-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }
  
  .know-container:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background-image: url(./images/bg_image-cube.png);
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
  }
  
  .asset {
	display: flex;
	width: 90%;
	margin-top: 1vw;
	background-color: rgb(244, 244, 244);
	border: 1px solid #f07628;
	border-radius: 10px;
  }
  
  .map {
	display: flex;
	width: 30%;
	height: 17vw;
	z-index: 0;
	margin: 1vw;
	border: 2px solid #f07628;
  }
  
  .assetContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
  }
  
  .assetHeading {
	font-size: 2vw;
	text-align: center;
	font-weight: 600;
	display: flex;
	padding: 0.5vw;
	align-items: center;
  }
  
  .top-container {
	width: 90%;
	padding: 1vw;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: row;
	border: 1px solid #f07628;
	border-radius: 10px;
  }
  .top-container-left{
	display: flex;
	width: 70%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  .circle {
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	border-radius: 10px;
	margin: 1vw;
	justify-content: space-evenly;
	position: relative;
	border: 1px solid #f07628;
  }
  
  .cityProgress {
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
  }
  .city-left{
	width: 30%;
  }
  .city-left p{
	font-size:0.8vw;
  }
  .city-left ul li{
	font-size: 0.8vw;
  }
  .city-left .sub-left{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vw;
	border: 1px solid #f07628;
	width: 100%;
  }

  .city-right{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
  }
  .bar {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #f07628;
  }
  
  .barSubcontainers {
	display: flex;
	width: 50%;
	justify-content: space-evenly;
  }
  
  .barText {
	display: flex;
	width: 100%;
	font-weight: 600;
	font-size: 1vw;
	padding-bottom: 5px;
  }
  
  .circle-img {
	position: absolute;
	bottom:0;
	right: 2px;
	cursor: pointer;
  }
  
  .circle-img img {
	height: 1vw;
  }
  
  .hide {
	display: none;
  }
  
  .circle-img:hover .hide {
	display: block;
	top: 38%;
	position: absolute;
	top: 2.5vw;
	right: 28%;
	font-size: 0.8vw;
	background-color: white;
	border: 1px solid #f07628;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	padding: 0.5vw;
	width: 15vw;
  }
  
  .circle-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0.5vw;

  }
  
  .circle-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 0.9vw;
  }
  
  .iconContainer {
	display: flex;
	border-radius: 50%;
	position: relative;
	height: 2.5vw;
	width: 2.5vw;
	margin: 1vw;
	justify-content: center;
	align-items: center;
	border: 3px solid #f07628;
  }
  
  .circleIcon {
	height: 80%;
	width: 80%;
  }
  
  .circleKey {
	display: flex;
	font-weight: 800;
  }
  
  .marker {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 0.8vw;
	justify-content: center;
	padding: 0.5vw;
  }
  
  .marker-icon img {
	height: 3vw;
	margin-right: 1vw;
  }
  
  .markerContainer {
	display: flex;
	width:18% ;
	height: 5.5vw;
	background-color: antiquewhite;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin: 0.5vw;
	border-radius: 10px;
	border: 3px solid #f07628;
  }
  
  .markerText {
	display: flex;
	font-weight: 600;
	font-size: 0.7vw;
	height: fit-content;
	margin-top: 1vw;
  }
  
  .markerValue {
	display: flex;
	padding: 0.4rem;
	color: #f07628;
	font: 600;
  }
  