
.other-main-container{
    background-image: radial-gradient(circle, #4d869c, #6d9aaf, #8caec1, #aac3d4, #c7d9e6, #d1e2ed, #dbeaf4, #e5f3fb, #def0f7, #d7eef2, #d2ebec, #cde8e5);
    
    height: 100%;
    width: 100%;
    padding: 1vw 0; 
}
.other-graphs{
    padding: 1vw;
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 1vw;
    border-radius: 10px;
    box-shadow: 0 0 12px -4px rgba(0,0,0,0.9);
}
.other-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
   
}
.other-title h1{
    text-align: center;
    font-size: 2vw;
    margin: 0rem 2vw;
    color:#012970;
}
.other-heading h2{
    text-align: center;
    font-size: 1.1vw;
    margin: 1vw 2vw;
    color:#717ff5;
}
.other-heading img{
    height: 4vw;
    width: 4vw;
}
.other-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 0 12px -4px rgba(0,0,0,0.9);
}
 .other-mini-graph{
    padding: 1vw;
    height: 80%;
}

.Insights{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    background-color: #edf9f9;
    padding: 1vw;
    margin: 0 2vw;
    box-shadow: 0 0 12px -4px rgba(0,0,0,0.9);
}
.Insights h1{
    font-size: 1vw;
}
.other-graph-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.extra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:20vw;
    
}
.extra .Percentage h1{
    font-size: 1vw;
}
@media screen and (max-width: 1099px) {
    .other-graph-container{
        flex-direction: column;
    }
    .extra{
        width: 100%;
    }
  }
.Percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 12px -4px rgba(0,0,0,0.9);
    margin: 1vw;
    padding: 0.8vw 0.5vw 0.5vw 0.5vw;
    border-radius: 10px;
}
.Percentage img{
    height: 2.5vw;
    width: 3vw;
}

.other-mini-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: row;
    padding: 1vw;
    border-radius: 10px;
    margin: 0.5vw 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.other-mini-card h1{
    font-size: 1.2vw;
    color: #717ff5;
    margin: 0 0 0 2vw;
}
.other-mini-card img{
    height: 4vw;
    width: 4vw;
}
.sub-mini{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.sub-mini h2{
    background-color: #edf9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1vw;
}
.other-mini-card h2{
    margin: 0.5vw 2vw;
    font-size: 1vw;
    color: #012970;
}
.other-insights{
    height: 22.5vw;
    width: 18vw; 
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 1vw;
    box-shadow: 0 0 12px -4px rgba(0,0,0,0.9);
    background-image: url("./images/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 10px;
    margin-top: 1vw;
}
.other-insights h1{
    font-size: 1.5vw;
    margin-bottom: 0;
    font-weight:700;
    color: #4154f1;
    text-align: center;
}
.insights-content{
    overflow: hidden;
    font-size: 0.8vw;
    color: #012970;
    font-weight: 500;
    margin-top: 0.5vw;
}
.other-insights::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.8vw;
    background-color: #fff;
}

.other-insights::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}
