:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--second);
  text-decoration: none;
}


/* DropDown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 1rem 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
}
.dropdown-menu .dropdown-header,
.dropdown-header .dropdown-footer {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}
.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}
.dropdown-menu .dropdown-divider {
  color: #ffffff;
  margin: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  transition: 0.3s;
}
.dropdown-menu .dropdown-item i {
  margin-right: 1rem;
  font-size: 1.8rem;
  line-height: 0;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    position: absolute;
    top: -0.7rem;
    right: 2rem;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.p-button.p-button-sm {
  padding: 0.3rem 1rem;
}
Button {
  background-color: #00a269;
  color: white;
  font-size: 0.7rem;
}
a {
  color: #00a269;
}
