@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}
.canvasjs-chart-credit {
  display: none;
}

.react-tel-input .form-control {
  width: 100% !important;
}
